@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/*Degradê background*/
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#1b0404, #950202);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo
{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

/*Botão quando clico*/
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

/*Botão branco permanente*/
header ul li a:hover ,
header ul li a.active
{
    background:#fff;
    color: #800000;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before
{
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#220000,transparent);
    z-index: 1000;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon
{
    mix-blend-mode: screen;
}

section img#front
{
    z-index: 10;
}


#text
{
    position: absolute;
    right: -350px;
    color:#fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

/*Botão*/
#btn
{
   text-decoration: none;
   display: inline-block;
   padding: 8px 30px;
   border-radius: 40px;
   background: #fff;
   color: #800000;
   font-size: 1.5em;
   z-index: 9;
   transform: translateY(100px);
}

.sec
{
    position: relative;
    padding: 100px;
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color:#fff
}

.sec p
{
    font-size: 1.2em;
    color:#fff
}

#fst
{
   text-decoration: none;
   padding: 8px 30px;
   border-radius: 40px;
   z-index: 9;
   transform: translateY(100px);
}

/*Class btn2*/
.btn2
{
    position: relative;
    padding: 100px;
}

.btn2 h3
{
    font-size: 3em;
    margin-bottom: 10px;
    color:#fff
}

.btn2 h4
{
    font-size: 1.5em;
    margin-bottom: 10px;
    color:#fff;
}

.btn2 p
{
    font-size: 1.2em;
    color:#fff
}

#list
{
    position: relative;
    font-size: 1.2em;
    color:#fff
}

#right0
{
    float: right;
    margin-top: -734px;
    margin-right: 300px;
}

#right1
{
    float: right;
    margin-top: -1070px;
    margin-right: 270px;
}

#img
{
    float: right;
    margin-top: -500px;
}

#right2
{
    float: right;
    margin-top: -705px;
    margin-right: 465px;
}

#right3
{
    float: right;
    margin-top: -1710px;
    margin-right: 450px;
}

#right4
{
    float: right;
    margin-top: -1487px;
    margin-right: 435px;
}

#right5
{
    float: right;
    margin-top: -705px;
    margin-right: 455px;
}

#right6
{
    float: right;
    margin-top: -731px;
    margin-right: 458px;
}

#right7
{
    float: right;
    margin-top: -1151px;
    margin-right: 460px;
}

#right8
{
    float: right;
    margin-top: -1348px;
    margin-right: 460px;
}

#right9
{
    float: right;
    margin-top: -845px;
    margin-right: 452px;
}

#progress
{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value
{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color:#220000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #fff;
}

html 
{
    scroll-behavior: smooth;
}

#icon
{
    display:inline-block;
    width: 100px;
    padding: 20px;
    margin-left: -20px;
}

@media only screen and (max-width: 1300px)
{
    #img
    {
    float: left;
    margin-top: -120px;
    }

    #list
    {
    margin-top: 290px;
    }
}

@media only screen and (max-width: 1160px) 
{
    #right0
    {
    float: left;
    margin-top: -230px;
    margin-right: 0px;
    }

    #left0
   {
    margin-top: 200px;
   }


   #right1
   {
    float: left;
    margin-top: -200px;
    margin-right: 0px;
   }

   #left1
   {
    margin-top: 250px;
   }


   #img
   {
    float: left;
    margin-top: -120px;
    margin-left: -22px;
   }

   #right2
   {
    float: left;
    margin-top: -200px;
    margin-right: 0px;
   }

   #left2
   {
    margin-top: 600px;
   }


   #right3
   {
    float: left;
    margin-top: -390px;
    margin-right: 0px;
   }

   #left3
   {
    margin-top: 140px;
    margin-bottom: 200px;
   }

   #left4
   {
    margin-top: 1200px;
   }

   #right4
   {
    float: left;
    margin-top: -200px;
    margin-right: 0px;
   }

   #left5
   {
    margin-top: 960px;
   }

   #right5
   {
    float: left;
    margin-top: -200px;
    margin-right: 0px;
   }

   #left6
   {
    margin-top: 310px;
   }

   #right6
   {
    float: left;
    margin-top: -200px;
    margin-right: 0px;
   }

   #left7
   {
    margin-top: 410px;
   }

   #right7
   {
    float: left;
    margin-top: -200px;
    margin-right: 0px;
   }

   #left8
   {
    margin-top: 540px;
   }

   #right8
   {
    float: left;
    margin-top: -200px;
    margin-right: 0px;
   }

   #left9
   {
    margin-top: 720px;
   }

   #right9
   {
    float: left;
    margin-top: -225px;
    margin-right: 0px;
   }

   #left10
   {
    margin-top: 380px;
   }

   #icon
   {
    width: 95px;
    padding: 25px;
    margin-left: -45px;
   }

   header ul
{
    display:inline-block;
    justify-content:right;
    text-align: right;
    margin-right: -80px;
}

header ul li 
{
    padding: 10px;
}


header .logo
{
    margin-top: -148px;
    margin-left: -80px;
}

/*Class btn2*/
.btn2
{
    padding: 100px;
}

.btn2 h3
{
    font-size: 2em;
    margin-left: -10px; 
}

.btn2 h4
{
    font-size: 1.2em;
    margin-left: -10px;
}

.btn2 p
{
    font-size: 1em;
    margin-left: -10px;
}

.sec h2
{
    font-size: 2.5em;
    margin-left: -10px;
}

.sec p
{
    font-size: 1em;
    margin-left: -10px;
}

#list
{
    font-size: 1em;
    margin-left: -10px;
    margin-top: 290px;
    margin-bottom: -200px;;
}

#list h3
{
    margin-left: -5px;
}

}


